@import '../styles/variables.css';

.about-container {
  background: var(--light-gray);
  color: var(--dark-gray);
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(33,33,33,0.08);
  background-color: #e8e8e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}