@import '../styles/variables.css';

.home-container {
  background: var(--light-gray);
  color: var(--dark-gray);
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(33,33,33,0.08);
}
.home-container table {
  width: 100%;
  border-collapse: collapse;
}

.home-container td, .home-container th {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--light-gray);
}